{% extends "base.html" %}

{% block log %}{{ title }}{% endblock %}


<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
{% block mainbody %}
    <section class="wrapper site-min-height">

        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table table-striped table-advance table-hover">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fa fa-times"></i></button>
                        </div>
                        <h4><i class="fa fa-angle-right"></i>Service Table</h4>
                        <hr>
                        <thead>
                        <tr>
                            <th><i class="fa fa-bullhorn"></i>系统名称</th>
                            <th><i class=" fa fa-edit"></i>级别</th>
                            <th><i class=" fa fa-edit"></i>所属部门</th>
                            <th><i class=" fa fa-edit"></i>运营负责人</th>
                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> 开发负责人</th>
                            <th><i class=" fa fa-edit"></i>主机信息</th>
                            <th><i class=" fa fa-edit"></i>状态</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% for s in ops_servers %}
                            <tbody>
                            <tr>
                                <td><a>{{ s.name }}</a></td>
                                <td class="hidden-phone">{{ s.lever }}</td>
                                <td class="hidden-phone">{{ s.get_department_display }}</td>
                                <td class="hidden-phone">{{ s.manager }}</td>

                                <td class="hidden-phone">{{ s.manager }}</td>
                                <td><a href="{% url "ops:hosts_id" s.id %}">{{ s.ha_ip }}</a></td>
                                <td><span class="label label-info label-mini">{{ s.get_status_display }}</span></td>
                                <td>
                                    <a href="{% url "ops:service_more" s.id %}">查看更多</a>
                                    {#                                    <button href="{% url "ops:service_more" s.id %}" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>

    </section>
{% endblock %}
<!--main content end-->
