{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}


<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<!--main content start-->
{% block mainbody %}
    <section class="wrapper site-min-height">

        <div class="row mt mb">
            <div class="col-lg-12">

                <a href="{% url 'navi:navi_add' %}"><span class="btn btn-file"><b>添加一个导航</b> <i class="fa fa-plus"></i></span></a>
                <br>
                <br>

                {% for navi in allnavi %}
                    <div class="fontawesome-list row">
                        <div class="fa-hover col-md-3 col-sm-4">
                            <a href="{{ navi.url }}" target="_blank"><i class="fa fa-adjust"></i> {{ navi.name }}</a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}
<!--main content end-->